.registerbanner{
    background-image: url('../../../assets/Images/Register.jpg');
    width: 100%;
    height: 690px;
    margin-bottom: 0px;
    background-position: center;
    background-size: cover;
    padding: 20px 20px;
    color: white;
    overflow-y: auto;
}
.registerbanner h1{
    color: white;
    font-weight: bold;
}
.radio{
    font-weight: bold;
    padding: 2px;
    font-size: 19px;
}
.form-control{
    opacity: .85;
}
.singup{
   
    margin-top: 10px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(53, 207, 53);
    border-radius: 5px;
    color: white;
    border: none;
}
.singup:hover{
    background-color: white;
    color: rgb(61, 240, 61); 
    border: solid .5px ;
    border-color: rgb(61, 240, 61);
}
.login-btn{
    background-color: rgb(45, 45, 175);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
  
}
.login-btn:hover{
   
    background-color: white;
    color:rgb(45, 45, 175); 
    border: solid .5px ;
}
small{
    font-weight: bold;
    font-size: 19px;
    color: orange;
}